[submodule "lib/pymaker"]
	path = lib/pymaker
	url = https://github.com/makerdao/pymaker.git
[submodule "lib/pygasprice-client"]
	path = lib/pygasprice-client
	url = https://github.com/makerdao/pygasprice-client.git
[submodule "lib/auction-keeper"]
	path = lib/auction-keeper
	url = https://github.com/makerdao/auction-keeper.git
