[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonnet = "*"
requests = "*"
web3 = "*"
eth-abi = "==2.1.1"
eth-utils = "<2.0.0,>=1.9.5"
eth-testrpc = "==1.3.0"
rlp = "==1.2.0"
tinydb = "*"
pytz = "==2017.3"

[dev-packages]

[requires]
python_version = "3.9"
