on: [push, pull_request]

name: Run tests

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.6'

    - name: install packages
      run: |
        sudo apt-get update
        sudo apt-get -y install python3-pip jshon jq virtualenv pkg-config openssl libssl-dev autoconf libtool libsecp256k1-dev
        pip install $(cat requirements.txt $(find lib -name requirements.txt | sort) | sort | uniq | sed 's/ *== */==/g')
        pip install -r requirements-dev.txt

    - name: Run tests
      run: ./test.sh
